.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 70px);
        background-color: white;
        position: relative;
        top: 70px;
        scroll-behavior: smooth;

        // snap to the beginning of the component
        scroll-snap-type: y mandatory;

        scrollbar-width: none; // for firefox
        &::-webkit-scrollbar { // for chrome, safari etc.
            display: none;
        }

        > * {
            width: 100%;
            height: calc(100vh - 70px);

            // snap to the beginning of the component
            scroll-snap-align: start;
        }
    }
}